

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    z-index: 2000; /* Ensure it's above other content */
}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 2000; /* Ensure it's above other content */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: Cheltenham;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e6e6dd; /* Change background color as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth effect */
    z-index: 1000; /* Ensure it's above other content */
}

footer {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e6e6dd; /* Change background color as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth effect */
}

.logo {
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.middlesection {
    padding: 20px;
    margin-top: 100px;
    background-color: #809bce;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.index-content {
    background-color: #e6e6dd;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow effect */
    position: relative; /* Ensure position:relative for positioning children */
}

.scroll-buttons {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    margin-top: 10px; /* Adjust as needed */
}

.scroll-buttons button {
    margin: 0 5px; /* Adjust spacing between buttons */
}



.tile {
    width: 400px; /* Set the fixed width */
    height: 400px; /* Set the fixed height */
    position: relative;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-radius: 10px;
    overflow: hidden;
}

.image-container {
    position: relative; /* Positioning context for absolute positioning */
}

.images {
    position: relative;
    display: inline-block;
}

.image-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    visibility: hidden;
    transition: visibility 0.3s ease;
}

.images:hover .image-link {
    visibility: visible;
}

.text {
    color: white;
    font-size: 20px;
}

.keyboard {
    width: 100%;
    scale: 120%;
}

.keyboard-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard button{
    background-color: #85A5c2;
    color: white;
    outline: none;
    border: 1px solid black;
    padding: 1em;
    cursor: pointer;
    margin-bottom: 0.4em;
    border-radius: 4px;
    text-transform: capitalize;
    scale: 100%;
}

.guessed-word {
    margin: 5px 0;
    padding: 5px 10px;
    background-color: black;
    border-left: 5px solid #ccc;
    border-radius: 5px;
}

.guessedWordsContainer {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #809bce;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
body {
    font-family: Arial, sans-serif;
    background-color: #f0efeb;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #a7bed3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: flex-end;
}

.content{
    display: flex;
    align-items: flex-start;
    padding: 50px;

}

h1 {
    text-align: center;
    color: black;
    font-family: Cheltenham;
    font-weight: bold;
}


#hintDisplay{
    display: flex;
    text-align: center;
    padding: 25px;
    background-color: #809bce;
    font-size: 20px;
    font-family: Cheltenham;
    font-weight: bold;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;

}

#grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

#wordInput {
    width: calc(100% - 120px);
    margin-right: 10px;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 25px;
}

#guessedWords {
    margin-bottom: 20px;
    display: flex; /* Add this line */
    flex-wrap: wrap; /* Allow wrapping */
}

#score {
    margin-bottom: 10px;
    font-size: 18px;
}

#timer {
    font-size: 18px;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.animated {
    animation: flip 0.5s ease;
}

#displayWord {
    font-family: Cheltenham;
    font-size: 50px;
    color: #333; /* Change the color to your preference */
    text-align: center; /* Center the text horizontally */
    margin-top: 20px; /* Add some top margin for spacing */
    /* Add more styles as needed */
}

@keyframes revealAnimation {
    from {
        opacity: 0; /* Start with zero opacity */
        transform: scale(0.5); /* Start with smaller size */
    }
    to {
        opacity: 1; /* End with full opacity */
        transform: scale(1); /* End with original size */
    }
}

/* Apply the animation to revealed letters */
.letter-placeholder.animated {
    animation: revealAnimation 0.5s ease forwards; /* Apply animation with 0.5s duration */
}

@keyframes wordAnimation {
    0% {
        background-color: transparent;
        transform: translateY(0); /* Initial position */
    }
    50% {
        background-color: transparent;
        transform: translateY(-20px); /* Bounce up */
    }
    100% {
        background-color: #b8d8be;
        transform: translateY(0); /* Back to original position */
    }
}

/* Apply animation to word display container when all letters are revealed */
#displayWord.word-revealed {
    animation: wordAnimation 1s ease forwards; /* Apply animation with 1s duration */
}

#hangmanGrid {
    display: flex;
    justify-content: right; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 150px; /* Adjust height as needed */
    margin-left: 100px;
}

.keyboard button.disabled {
    background-color: #ccc; /* Change the background color to grey */
    color: #666; /* Change the text color to a darker grey */
    cursor: not-allowed; /* Change cursor to indicate the button is disabled */
}

.about-section {
    background-color: #e6e6dd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.about-text {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.about-text em {
    font-style: italic;
}

.about-text strong {
    font-weight: bold;
}

/* CSS for word reveal animation when the game is lost */
.word-lost {
    animation: shake 0.5s ease-in-out; /* Define the animation for the lost word */
}

/* Shake animation - https://teamtreehouse.com/community/shake-effect-with-javascript-only */
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.wordButton{
    font-size: 20px;
    padding: 10px;
    background-color: #e6e6dd;
}