

/* top bar and side navigation */

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    z-index: 2000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 2000;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: Cheltenham;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e6e6dd;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.logo {
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}


/*footer styling */

footer {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e6e6dd;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* styling for index page */
.middlesection {
    padding: 20px;
    margin-top: 100px;
    background-color: #f0efeb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-content {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.images {
    flex: 0 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin: 10px;
    text-align: center;
}

.images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.image-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.image-link:hover {
    color: #666;
}

.tile {
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.text {
    color: white;
    font-size: 20px;
}

/* info page */

.infoSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin-top: 100px;
    background-color: #809bce;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.infoBox {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    background-color: #a7bed3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.infoContent {
    padding: 20px;
    background-color: #a7bed3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
}

/* style for games  */

.keyboard {
    width: 100%;
    scale: 120%;
}

.keyboard-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard button{
    background-color: #85A5c2;
    color: white;
    outline: none;
    border: 1px solid black;
    padding: 1em;
    cursor: pointer;
    margin-bottom: 0.4em;
    border-radius: 4px;
    text-transform: capitalize;
    scale: 100%;
}

.guessed-word {
    margin: 5px 0;
    padding: 5px 10px;
    background-color: black;
    border-left: 5px solid #ccc;
    border-radius: 5px;
}

.guessedWordsContainer {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #809bce;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0efeb;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #a7bed3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: flex-end;
}

.content{
    display: flex;
    align-items: flex-start;
    padding: 50px;
}

h1 {
    text-align: center;
    color: black;
    font-family: Cheltenham;
    font-weight: bold;
}

#hintDisplay{
    display: flex;
    text-align: center;
    padding: 25px;
    background-color: #809bce;
    font-size: 20px;
    font-family: Cheltenham;
    font-weight: bold;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

#grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

#wordInput {
    width: calc(100% - 120px);
    margin-right: 10px;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 25px;
}

#guessedWords {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

#score {
    margin-bottom: 10px;
    font-size: 18px;
}

#timer {
    font-size: 18px;
}

.wordButton {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
}

#guessButtons {
    text-align: center;
    padding: 40px;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.animated {
    animation: flip 0.5s ease;
}

#displayWord {
    font-family: Cheltenham;
    font-size: 50px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 5px;
}

@keyframes revealAnimation {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.letter-placeholder.animated {
    animation: revealAnimation 0.5s ease forwards;
}

@keyframes wordAnimation {
    0% {
        background-color: transparent;
        transform: translateY(0);
    }
    50% {
        background-color: transparent;
        transform: translateY(-20px);
    }
    100% {
        background-color: #b8d8be;
        transform: translateY(0);
    }
}

#displayWord.word-revealed {
    animation: wordAnimation 1s ease forwards;
}

#hangmanGrid {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 150px;
    margin-left: 100px;
}

.keyboard button.disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.word-lost {
    animation: shake 0.5s ease-in-out;
}


/* Shake animation - https://teamtreehouse.com/community/shake-effect-with-javascript-only */
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}


/* info page styling */

.about-section {
    background-color: #e6e6dd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.about-text {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.about-text em {
    font-style: italic;
}

.about-text strong {
    font-weight: bold;
}


